*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1000px;
}

.p-img img{
     position: absolute;
     left: 43%;
     top: 10%;
     border-radius: 50%;
}
.p-img h1{
     position: absolute;
     left: 47%;
    
}
.text {
     position: absolute;
     left: 46%;
     top: 49%;
     color: #333;
}

#my_name{
     font-family:Georgia, 'Times New Roman', Times, serif;
     
}
#profetion{
     position:absolute;
     left: 39px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}





.boxes{
      position: absolute;
     left: 41%;
     top: 60%;
    
    
}

.boxes:hover{
     
}
.boxes a{
     text-decoration: none;
     color: white;
     font-weight: bolder;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.boxes .a{
         background: #333;
          transition: transform 0.3s ease;
     }

.boxes .a:hover{
     transform: scale(0.8);
}     

.boxes .b{
     background: blue;
      transition: transform 0.3s ease;
}

.boxes .b:hover{
      transform: scale(0.8);
}
.boxes .c{
     background: rgb(143, 143, 18);
      transition: transform 0.3s ease;
}

.boxes .c:hover{
     transform: scale(0.8);
}
.boxes .d{
     background: rebeccapurple;
      transition: transform 0.3s ease;
}

.boxes .d:hover{
     transform: scale(0.8);
}

.boxes .box{
     padding: 20px;
     margin: 20px;
     width: 100%;
     border-radius:40px;
     text-align: center;
}

@media(max-width:768px){
     .p-img h1{
     position: absolute;
     left: 42%;
    
}

     .p-img img{
     position: absolute;
     left: 25%;
     top: 10%;
     border-radius: 50%;

     } 
     
     

     .text {
     position: absolute;
     left: 36%;
     top: 49%;
     color: #333;
}

  
.boxes{
      position: absolute;
     left: 20%;
     top: 60%;
     
    
}

    


}